body {
    font-family: "Poppins", sans-serif;
    background: hwb(221 8% 56%);
}

#Seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    font-size: 32px;
    
}


.subtitulo,.subtitle {
    color: white;
    font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #ffffff67;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid white;
}

.tarjeta-de-mokepon img {
    width: 100px;
}

#boton-mascota {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: "Poppins", sans-serif;
    margin-top: 30px;
    background: #ffffff67;
    
}

input {
    display:none;
}

input:hover + label {
    background-color: orange;
    transition: background-color .5s;   
}

input:checked + label {
    background-color: orange;
}


#Seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background: #ffffff67;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 80px;
    color: white;
    font-family:"Poppins", sans-serif;
    border: 1px solid white;
}

#mensajes {
    width: 280px;
    background: #ffffff67;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid white;
    padding:10px;
    color: white;
    align-items: center;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
      
}

#boton-reiniciar {
    border: white;
    color: white; 
    background: #ffffff67;
    font-family: "Poppins", sans-serif;
    width: 80px;
    margin: 0px 0px 4px 0px;
    
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    color: white;
    font-family: "Poppins", sans-serif;
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ver-mapa {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#ver-mapa button {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 10px 0;
    background: #ffffff67;
}

@media (max-width: 400px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}
@media (max-width: 360px) {
    #ver-mapa div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

